{% extends 'base.html' %}

{% block title %}About - GRUATT-AVP{% endblock %}

{% block styles %}
    <style>
        body {
            background-color: #f8f9fa;
            text-align: center;
        }
        .container {
            margin-top: 50px;
        }
        .title {
            font-size: 32px;
            font-weight: bold;
            color:rgb(0, 0, 0);
            margin-bottom: 20px;
        }
        .content-box {
            background-color: #ffffff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        }
        .steps {
            text-align: left;
            margin-top: 30px;
        }
        .steps h5 {
            font-weight: bold;
            color: #0069d9;
        }
        .footer {
            background-color: #343a40;
            color: white;
            padding: 15px;
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="title">Welcome to GRUATT-AVP Web Server</h2>
        <div class="content-box">
            <p>To support the efficient identification of anti-viral peptides and provide broad access to the scientific community, we have designed and implemented the <strong>GRUATT-AVP</strong> web server.</p>

            <div class="steps">
                <h5>How to Use the GRUATT-AVP Web Server:</h5>
                <ol>
                    <li><strong>Access the Web Server:</strong><br> Open the web server here at <a href="https://gruatt-avp.vercel.app/" target="_blank">https://gruatt-avp.vercel.app/</a></li>
                    <li><strong>Input Your Data:</strong><br> Enter your query in FASTA format into the provided text box.</li>
                    <li><strong>Submit for Prediction:</strong><br> Click on the “Submit” button to initiate the prediction process. The server typically processes the data within a few seconds.</li>
                    <li><strong>View Results:</strong><br> Once the prediction is complete, results will be displayed directly on the web server interface.</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
